@charset "utf-8";

/* 基本スタイル */
h1 {
    text-align: center;
    margin: 50vh 0;
}

h2 {
    margin-top: 4rem;
    font-size: 2rem;
}

p {
    font-size: 1.25rem;
    line-height: 1.6;
}

main {
    max-width: 800px;
    margin: auto;
}

/* ラインとともに表示 */
.heading {
    position: relative;
    display: inline-block;
}
/* テキスト */
.heading span{
    opacity: 0;
    transition: opacity 1s .5s ease-in-out;
}
.heading.show span {
    opacity: 1;
}
/* ライン */
.heading.show::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0bd;
    animation: line-movein 1s forwards;
}

@keyframes line-movein {
    0% {
        transform-origin: left;
        scale: 0 1;
    }
    50% {
        transform-origin: left;
        scale: 1 1;
    }
    51% {
        transform-origin: right;
    }
    100% {
        transform-origin: right;
        scale: 0 1;
    }
}