@charset "utf-8";

/* 基本スタイル */
body {
  text-align: center;
  margin: 0;
}
main {
  padding: 5rem 1rem;
  height: 100vh;
}

/* 2枚の画像のパララックス */
.parallax-container {
  position: relative;
  width: 100%;
  height: 140vh;
  overflow: hidden; /* 要素からはみ出す部分を非表示にする */
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("images/ocean.jpg") center/cover no-repeat;
  color: #fff;
}

/* レイヤー画像のスタイル */
.layer {
  position: absolute;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
}
.layer-back {
  z-index: 1; /* 奥側 */
}
.layer-front {
  z-index: 2; /* 手前側 */
}